@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;700;900&display=swap');


/* CSS RESET BELOW */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
2. Remove default margin
*/
* {
    margin: 0px;
}

/*
3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    -webkit-font-smoothing: antialiased;
}

/*
6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}


p {
    font-family: "Figtree", sans-serif;
    font-size: 21px;
    line-height: 1.7;
}

a {
    font-size: 21px;
    line-height: 1.7;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:hover {
    color: #d8d8d8
}

a {
    font-family: "Figtree", sans-serif;
}

h2 {
    font-size: 2rem;
}

footer {
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    position: relative;
    display: block;
    color: #111
}

footer p {
    font-size: 16px;
}

footer span {
    text-decoration: line-through;
    padding: 3px
}

main {
    /* max-width: 1800px; */
    margin: 0px auto;
}

/* flexbox classes */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    flex-basis: 100%;
}

.bordered {
    border: none;
        margin: 5px;
}

@media screen and (min-width: 800px) {
    .bordered {
        /* border: solid 2px #ffffff; */
        margin: 30px;
    }
    .column {
        flex: 1;
    }

    ._30 {
        flex: 3;
    }

    ._50 {
        flex: 5;
    }

    ._40 {
        flex: 4;
    }

    ._60 {
        flex: 6;
    }

    ._70 {
        flex: 7;
    }

    ._33 {
        flex: 3.3;
    }
}