@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

@font-face {
  font-family: CircReg;
  src: url('./fonts/CircularStd-Book.otf');
}

@font-face {
  font-family: CircMed;
  src: url('./fonts/CircularStd-Medium.otf');
}

@font-face {
  font-family: CircBold;
  src: url('./fonts/CircularStd-Bold.otf');
}

@font-face {
  font-family: CircBoldItalic;
  src: url('./fonts/CircularStd-BoldItalic.otf');
}

@font-face {
  font-family: CircBlack;
  src: url('./fonts/CircularStd-Black.otf');
}

  p a {
    font-family: "Open Sans", sans-serif;
    font-size: 21px
  }

  body {
    font-family: "CircReg", sans-serif;
  }

  h1, h2, h3 {
    font-family: "CircBold", sans-serif;
  }

  h4, h5, h6 {
    font-family: "CircMed", sans-serif
  }

  .navbar-brand {
    font-size: 24px;
    font-family: "CircBold", sans-serif
  }

  /* custom blog post styling below */
  .frontmatter-markdown p, h1, h2, h3 {
    max-width: 600px;
    margin: auto;
    color: rgb(33, 33, 33);
  }

  /* use open sans for blog posts, better reading experience */
  .frontmatter-markdown p {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
  }

  .frontmatter-markdown h4 {
    font-family: "CircReg", sans-serif;
    line-height: 2.0rem;
    max-width: 750px;
    margin: auto;
    margin-bottom: 40px
  }

  .frontmatter-markdown p {
    font-size: 21px;
    line-height: 2.2rem;
    padding-top: 20px;
    padding-bottom: 10px
  }

  .badge {
    padding: 5px;
    margin-right: 10px
  }

  .tag-holder {
    margin-bottom: 20px;
    margin-top: 20px;
  }



