@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap');

@font-face {
  font-family: CircReg;
  src: url('./fonts/CircularStd-Book.otf');
}

@font-face {
  font-family: CircMed;
  src: url('./fonts/CircularStd-Medium.otf');
}

@font-face {
  font-family: CircBold;
  src: url('./fonts/CircularStd-Bold.otf');
}

@font-face {
  font-family: CircBoldItalic;
  src: url('./fonts/CircularStd-BoldItalic.otf');
}

@font-face {
  font-family: CircBlack;
  src: url('./fonts/CircularStd-Black.otf');
}

  p {
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    line-height: 1.7;
  }

  body {
    font-family: "CircReg", sans-serif;
  }

  h1, h2, h3 {
    font-family: "CircBold", sans-serif;
  }

  h4, h5, h6 {
    font-family: "CircMed", sans-serif
  }

  .navbar-brand {
    font-size: 24px;
    font-family: "CircBold", sans-serif
  }

  .badge {
    padding: 5px;
    margin-right: 10px
  }

  .card-body div.tag-holder {
    padding-left: 20px;
    padding-right: 20px
  }

  .experiment-title {
    font-family: "CircBold", sans-serif
  }

  .experiment-cards-holder {
    margin: auto
  }

  .card-body {
    padding: 0;
    border-radius: 0.5;
    min-height: 250px;
  }

  .card-text {
    padding: 1.25rem
  }

  .about-image {
    margin-bottom: 30px
  }

  .about-text {
    padding: 10px
  }

  .about-text p {
    padding: 10px;
    font-size: 21px
  }

  div.container {
    margin: auto
  }

  .post-container {
    max-width: 900px;
    margin-top: 40px;
  }

  .blog-read-link {
    margin-top: 5px;
    margin-left: 20px
  }

  .blog-preview img {
    display: block;
    width: 100%;
    height: auto
  }

  h4.card-title {
    margin-top:5px;
    padding: 20px;
    font-size: 26px;
  }

  h6.card-subtitle {
    color: rgb(185) !important;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -20px;
    font-family: "CircReg", sans-serif
  }

  .nav-link a {
    color: gray
  }

  .navbar {
    -webkit-box-shadow: 0 4px 6px -6px #999;
    -moz-box-shadow: 0 4px 6px -6px #999;
    box-shadow: 0 4px 6px -6px #999;
  }

  a.nuxt-link-exact-active {
    color: black
  }

  #page-container {
    position: relative;
    min-height: 100vh;
  }

  #content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

  footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: rgb(235, 235, 235);
  color: black;
  text-align: center;

}

.pre-footer {
  height: 200px
}

.footer-creds {
  margin-top: 20px;
  font-family: "CircReg", sans-serif;
}

 .jumbotron h1 {
    /* padding-left: 20px; */
    font-family: "CircBold", sans-serif;

  }

  @media only screen and (max-width: 600px) {
  .jumbotron h1 {
    font-size: 42px
  }
}

  .jumbotron p.lead {
    padding-left: 10px;
    margin-top: 0px
  }

  .jumbotron {
    background-color: white
  }

  div.container-fluid {
    padding-right: 0px;
    padding-left: 0px
  }

  /* case study page styles */

  .case-study-wrapper .box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
  }

  .case-study-wrapper .box .header-text{
      position: absolute;
      z-index: 999;
      margin: 0 auto;
      left: 0;
      right: 0;
      color: white;
      top: 10%; /* Adjust this value to move the positioned div up and down */
      text-align: center;
      width: 60%; /* Set the width of the positioned div */
    }

    .case-study-wrapper h1 {
        font-size: 5rem;
    }

    .case-study-wrapper h2 {
      font-size: 3rem
    }

    .case-study-wrapper h3 {
      font-size: 2rem
    }

    .case-study-wrapper .project-intro {
        height: 300px;
        text-align: center;
        margin-top: 100px;
        top: 30%;
        max-width: 800px
    }

    .container {
      margin: auto
    }

    .case-study-wrapper .project-description {
      margin-bottom: 300px;
      margin-top: 150px;
      max-width: 600px
    }

    .case-study-wrapper p {
        font-size: 21px;
        margin-top: 30px;
        line-height: 1.7;
    }

    /* Enter and leave animations can use different */
    /* durations and timing functions.              */
    .slide-fade-enter-active {
      transition: all .6s ease;
    }
    .slide-fade-leave-active {
      transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
      transform: translateX(10px);
      opacity: 0;
    }

    .case-study-wrapper .caption {
      margin-top: 30px;
      max-width: 800px;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto
    }



